@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  background-color: #301f46 !important;
  font-family: "Kanit", sans-serif;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: white !important;
  font-weight: 300 !important;
}

.text-main {
  color: #a5278f !important;
}
